In [29]:
import pandas as pd

In [30]:
#sample data
data={
    'CustomerId':['C001','C002','C003','C004','C005','C006','C007','C008'],
    'Education_level':['High School','Bachleros','Masters','PHD','Bachleros','High School','PHD','Masters'],
    'Product_Quality':['Low','Medium','High','Medium','Low','High','Medium','High'],
    'Satisfication_level':['Poor','Average','Excellent','Good','Average','Good','Poor','Excellent']
}
df=pd.DataFrame(data)

In [31]:
df

  CustomerId Education_level Product_Quality Satisfication_level
0       C001     High School             Low                Poor
1       C002       Bachleros          Medium             Average
2       C003         Masters            High           Excellent
3       C004             PHD          Medium                Good
4       C005       Bachleros             Low             Average
5       C006     High School            High                Good
6       C007             PHD          Medium                Poor
7       C008         Masters            High           Excellent

In [32]:
# Define the order for each ordinal feature

education_order=['High School','Bachleros','Masters','PHD']
product_quality_order=['Low','Medium','High']
satisfaction_order=['Poor','Average','Good','Excellent']

In [33]:
from sklearn.preprocessing import OrdinalEncoder

In [34]:
encoder=OrdinalEncoder(categories=[education_order,product_quality_order,satisfaction_order])

In [35]:
# Apply encoding ( skip cCustomerID as it is identifier)
df[['Education_level', 'Product_Quality', 'Satisfication_level']]=encoder.fit_transform(df[['Education_level', 'Product_Quality', 'Satisfication_level']])

In [36]:
df

  CustomerId  Education_level  Product_Quality  Satisfication_level
0       C001              0.0              0.0                  0.0
1       C002              1.0              1.0                  1.0
2       C003              2.0              2.0                  3.0
3       C004              3.0              1.0                  2.0
4       C005              1.0              0.0                  1.0
5       C006              0.0              2.0                  2.0
6       C007              3.0              1.0                  0.0
7       C008              2.0              2.0                  3.0